[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stable-baselines3 = {extras = ["extra"], version = "*"}
gym = "*"
opencv-python = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.8"
